
<!doctype html>
<html lang="en">
    <head>
            <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>YAMAHA RZF-R1</title>
    </head>
    <body>

        @header()
<p align="center"><img src="/assets/images/t.png" width="600" height="250"></p>
    <p align="center">ท่านั่งที่เป็นแบบก้มตัวลงข้างหน้าในแบบสไตล์ของรถซุปเปอร์สปอร์ตที่สามารถขับขี่ได้อย่างอิสระ <br>
        ชิวหน้าป้องกันการปะทะจากลมด้านหน้าได้อย่างดี ขับขี่ทางไกลและการทำความเร็วก็สามารถเป็นไปได้ง่าย<br>
        หน้าปัดเรือนไมล์แบบ ดิจิตอล FULL LCD ขนาดใหญ่ แสดงผลแบบ DASHBOARD บอกข้อมูลความเร็ว รอบเครื่องยนต์ ระดับความร้อน<br>
        ระดับน้ำมันเชื้อเพลิง ระดับเกียร์ และโหมดต่างๆ เป็นต้น เครื่องยนต์ 4 สูบเรียง 998 CC 4 จังหวะ ระบายความร้อนด้วยน้ำ <br>
        พร้อมแรงม้า 200 ตัวที่ 13,500 รอบ/นาที ด้านทอร์คหรือแรงบิดอยู่ที่ 112 นิวตัน-เมตรที่ 11,500 รอบ/นาที มีระบบเกียร์แบบสปอร์ต 6 ระดับ<br>
        มีระบบYCC-T และ YCC-I ช่วยคำนวณเชื้อเพลิง มีระบบจุดระเบิดแบบ TCI ทรานซิสเตอร์ควบคุมการจุดระเบิด <br>
        (TRANSISTOR CONTROLLED IGNITION) ระบบจ่ายน้ำมันเชื้อเพลิงแบบ หัวฉีด (FUEL INJECTION WITH YCC-T AND YCC-I) <br>
        ดีไซน์ที่โดดเด่น ในแนวสปอร์ต โครงรถ เป็นแบบ ALUMINIUM DELTABOX ความกว้างของตัวรถ 69.00 ซม. ยาว 205.50 ซม.<br>
        สูง 115.00 ซม. ความสูงจากพื้นถึงเบาะ 85.50 ซม. ระยะจากพื้นถึงเครื่องยนต์ 13.00 ซม. ระยะห่างช่วงล้อ 140.50 ซม. <br>
        น้ำหนักตัวรถเมื่อรวมน้ำมันเครื่อง และน้ำมันเชื้อเพลิง 199 กิโลกรัม ระบบกันสะเทือนหน้าแบบ โช้คอัพหน้าแบบเทเลสโคปิค<br>
        ขนาด 43 มม โดดเด่นด้วยแกนโช้คสีทอง ระบบเบรกหน้าเป็นแบบเบรกไฮโดรลิก ดิสก์เบรกคู่ 320 MM <br>
        ส่วนระบบกันสะเทือนด้านหลังเป็นแบบ สวิงอาร์ม (LINK SUSPENSION) ระบบเบรกหลัง เบรคไฮโดรลิก ดิสก์เบรก 220MM <br>
        พร้อมระบบเบรก ABS ทั้งด้านหน้าและด้านหลัง</p>


    <p align="center"><img src="/assets/images/07.jpg" width="700" height="250"></p>
        <p align="center">ยามาฮ่า วายแซดเอฟ อาร์1เอ็ม รถมอเตอร์ไซค์ Bigbike ขนาดใหญ่เป็นตัวท็อปจากค่าย ยามาฮ่า มาพร้อมเครื่องยนต์ 4 สูบเรียง 4 จังหวะ<br>
        ขนาดเครื่องยนต์ที่ให้มาขนาด 998 ซีซี ระบายความร้อนด้วยน้ำ กำลังเครื่องที่ได้ 200 แรงม้า ที่ 13,500 รอบ/นาที แรงบิด 112 นิวตันเมตร<br>
        ที่ 11,500 รอบ/นาที พร้อมเทคโนโลยีอนาคตก้านสูบไทเทเนียม ติดตั้ง Inertial Measurement Unit(IMU) วัดมุมองศา 6 แกน <br>
        องค์ประกอบหลักถูกปรับใหม่ทั้งหมด</p>
    </body>
    </html>
